!!! 5
%html
  %head
    %title Serious Business
    %link{:href => '/css/cssreset-min.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/screen.less', :media => 'screen', :type => 'stylesheet/css', :rel => 'stylesheet/less'}
    %script{:src => '/js/jquery-1.5.1.min.js', :type => 'text/javascript'}
    :javascript
      sensorElement = function(name, sensor, config) {
        var labels = [];
        var values = [];
        $.each(sensor, function(i) {
          var details = sensor[i];
          labels.push(details.date);
          values.push(details.output);
        });

        return $('<div>').
          addClass('sensor').
          attr('id', name).
          append(
            $('<span>').
              addClass('category').
              append(config.category)
          ).
          append(
            $('<span>').
              addClass('name').
              append(config.name || name)
          ).
          append(
            $('<span>').
              addClass('value').
              append(
                $('<span>').
                  append(values[values.length - 1])
              )
          );
      };

      function update(sensors) {
        sortedNames = [];
        for (var key in sensors) sortedNames.push(key);
        sortedNames.sort();

        $('#wrapper').html('');
        $.each(sortedNames, function(index, name) {
          sensor = sensors[name];
          data = sensor['values'];
          config = sensor['config'];
          value = data[data.length-1];

          $('#wrapper').append(sensorElement(name, data, config));
        });
      }

      $(document).ready(function() {
        setInterval(function() {
          $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/sensors',
            success: update
          })
        },
        30 * 1000);
      });

      $(document).ready(function() {
        update(#{@sensors});
      });

  %body
    #wrapper
    %script{:type => 'text/javascript', :src => 'http://lesscss.googlecode.com/files/less-1.2.2.min.js'}
